.blog {
  max-width: 1230px;
  margin: 0 auto 121px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin: 0 auto 61px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin: 0 auto 70px;
  }
}

.blog__container p {
  max-width: 450px;
  margin: 0 auto 60px;
  padding: 0;
  font-family: "Cormorant Garamond", "Garamond", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: capitalize;
  color: $basic__dark;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    letter-spacing: 0.8px;
  }
}

.blog__container a {
  display: block;
  width: max-content;
  margin: 19px auto 0;
  padding-bottom: 4px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  color: $basic__dark;
  border-bottom: 1px solid $basic__accent;

  &:hover,
  &:focus {
    color: $basic__accent;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding-right: 2px;
    letter-spacing: -0.2px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    letter-spacing: -0.3px;
    box-sizing: border-box;
  }
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin: 0 30px;
  padding: 0;
  list-style: none;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0 15px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.blog__item {
  position: relative;
  display: flex;

  &--care {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &--power {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &--trends {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 100%;

    &--trends {
      display: flex;
      gap: 0;
    }

    &:nth-child(2n) {
      flex-direction: column;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    &--trends {
      display: flex;
      gap: 0;
    }
  }
}

.blog__item + .blog__item {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-top: 50px;
  }
}

.blog__item-image {
  width: 50%;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 100%;
    height: 256px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 339px;
  }
}

.blog__item--trends .blog__item-image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: auto;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    height: 256px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 339px;
  }
}

.blog__item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $basic__light;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    position: relative;
    width: 100%;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    position: relative;
    width: 339px;
  }
}

.blog__item-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  min-height: 300px;
  padding: 67px 20px;
  text-align: center;
  background-color: $basic__accent-four;
  box-sizing: border-box;
  z-index: 10;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 100%;
    min-height: 256px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 339px;
    padding: 67px 65px;
  }
}

.blog__item--care .blog__item-description {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding: 45px 61px;
  }
}

.blog__item--power .blog__item-description {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding: 45px 61px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding: 67px 83px;
  }
}

.blog__item--trends .blog__item-description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding: 62px 61px 45px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    width: 339px;
    padding: 84px 65px 55px;
  }
}

.blog__item-description p {
  max-width: 163px;
  margin: 0 0 37px;
  font-family: "Cormorant Garamond", "Garamond", serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: $basic__black;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-bottom: 36px;
  }
}

.blog__item-description time {
  display: block;
  margin: 0 0 -21px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $basic__light;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin: 0 0 -20px 1px;
    letter-spacing: -0.2px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin: 0 0 -21px 1px;
    letter-spacing: -0.1px;
  }
}

.blog__item--power time {
  padding-left: 2px;
  letter-spacing: -0.05px;
}

.blog__item--trends time {
  padding-left: 3px;
  letter-spacing: -0.1px;
}

.blog__link {
  width: auto;
  margin: 0 auto;
  padding-bottom: 4px;
  color: $basic__dark;
  text-transform: capitalize;
  border-bottom: 1px solid $basic__accent;

  &:hover,
  &:focus {
    color: $basic__accent;
  }
}

.blog__item--trends .blog__link {
  padding-right: 2px;

  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    padding-right: 0;
  }
}
