.information {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;

  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    margin-left: 0;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-bottom: 41px;
  }
}

.information__item + .information__item {
  margin-top: 21px;
}

.information__link {
  color: $basic__white;
}
