.page-footer {
  background-color: $basic__black;
  margin-top: 0 auto;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  margin: 0 auto;
  padding: 89px 30px 100px;
  box-sizing: border-box;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    flex-direction: column;
    padding: 51px 15px 63px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    flex-direction: column;
    padding: 51px 45px 55px;
  }
}

.page-footer__container {
  display: flex;
  margin-top: 6px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    flex-direction: column;
  }
}

.page-footer a:hover,
.page-footer a:focus {
  color: $basic__accent;
}
