.page-header {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.page-header--opened {
  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 320px;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    background-color: $basic__accent;
  }
}

.page-header--opened .page-header__wrap,
.page-header--nojs .page-header__wrap {
  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    background-color: $basic__accent;
  }
}

.page-header__wrap {
  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    position: relative;
    width: auto;
    height: auto;
  }
}
