.social {
  max-width: 120px;
  margin: 0;
  margin-left: 105px;
  padding: 0;
  list-style: none;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-left: 86px;
  }
}

.social__item {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-right: 30px;
  }
}

.social__item + .social__item {
  margin-top: 21px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-top: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  color: $basic__white;
}

.social__link svg {
  margin-top: -2px;
}

.facebook svg {
  margin-left: 4px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 12px;
    height: 21px;
    margin-left: 0;
  }
}

.instagram svg,
.pinterest svg {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 20px;
    height: 21px;
  }
}

.twitter svg {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    width: 20px;
    height: 18px;
  }
}

.social__link span {
  padding-left: 16px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: none;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-left: 15px;
  }
}

.facebook span {
  padding-left: 19px;

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-left: 18px;
  }
}
