// Colors

$basic__black: #000000;
$basic__white: #ffffff;
$basic__dark: #1d1613;
$basic__light: #9b9997;
$basic__light-two: #f6f5f4;
$basic__accent: #a87b62;
$basic__accent-two: #564034;
$basic__accent-three: #e2ddd7;
$basic__accent-four: #f0eae4;

// Viewports

$tablet-max-width: 1023px;
$tablet-width: 768px;
$mobile-max-width: 767px;
$mobile-width: 0;
